<div class="row">
    <div class="col-md-4">
        <h1>Angular + Ngrx</h1>
        <hr><br>
        <div *ngIf="isAuthenticated;then doSomething; else doSomethingElse;"></div>
        <ng-template #doSomething>
            <p>You logged in <em>{{user.email}}!</em></p>
            <button class="btn btn-primary mr-2" (click)="logOut()">Log out</button>
        </ng-template>
        <ng-template #doSomethingElse>
            <a [routerLink]="['/log-in']" class="btn btn-primary mr-2">Log in</a>
            <a [routerLink]="['/sign-up']" class="btn btn-primary mr-2">Sign up</a>
        </ng-template>

        <a [routerLink]="['/status']" class="btn btn-primary">Status</a>
    </div>
</div>